body {
  background-color: var(--bg-dark);
  color: var(--font-color);
  font-family: var(--main-font), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a, button, input, textarea {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: var(--accent-color);
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 37px;
  border: none;
  color: var(--font-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.price {
  color: var(--accent-color);
  font-size: 1.25rem;
  font-weight: 500;
  position: relative;
  letter-spacing: 0.1em;
}

.price::after {
  font-size: 1rem;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: -1.7em;
  text-decoration: line-through;
}